<mat-card>
<form [formGroup]="loginForm">

  <mat-form-field class="full-width">
      <input matInput placeholder="Login ID" formControlName="loginId">
  </mat-form-field>

  <mat-form-field class="full-width" style="width: 100%">
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit"
   [disabled]="loginForm.errors"
   >
    <mat-icon>input</mat-icon>
    <span> Login </span>
  </button>

  <button mat-raised-button color="primary" *ngFor="let action of actions"
    (click)="doAction(action)"
    type="submit">
    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
    <span> {{ action.text }} </span>
  </button>
</form>
</mat-card>