<mat-card>
<form [formGroup]="loginForm">

  <mat-form-field class="full-width">
      <input matInput placeholder="Login ID" formControlName="loginId">
      <mat-error *ngIf="f.get('loginId').errors">
        {{ getError(f.get('loginId')) }}
      </mat-error>
  </mat-form-field>
  
  <mat-form-field class="full-width">
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').errors">
        {{ getError(loginForm.get('password') ) }}
      </mat-error>

  </mat-form-field>
  <br/>
  <button mat-raised-button color="primary" *ngFor="let action of actions"
    (click)="doAction(action)"
    [disabled]="!loginForm.valid"
    type="submit">
    <mat-icon *ngIf="action.icon">{{ action.icon }}</mat-icon>
    <span> {{ action.text }} </span>
  </button>
</form>
</mat-card>