<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon color="primary">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">
    <mat-icon color="primary">power_setting_new</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="register">
    <mat-icon color="primary">voicemail</mat-icon>
    <span>Register</span>
  </button>
  <button mat-menu-item routerLink="login">
    <mat-icon color="primary">notifications_off</mat-icon>
    <mat-icon color="primary">home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="register">
    <mat-icon color="primary">assignment</mat-icon>
    <span>Register</span>
  </button>
  <button mat-menu-item routerLink="login">
    <mat-icon color="primary">assignment_ind</mat-icon>
    <span>Login</span>
  </button>
</mat-menu>