<div [class]="theme">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <pp-menu-hot></pp-menu-hot>
  </h1>
  
</div>
<router-outlet></router-outlet>
<mat-card>
  <pp-menu-left></pp-menu-left>
</mat-card>
<mat-card>
<mat-form-field>
  <mat-select placeholder="Theme" [(ngModel)]="theme" (selectionChange)="onThemeChange($event)">
    <mat-option *ngFor="let theme of themes" [value]="theme">
      {{ theme }}
    </mat-option>
  </mat-select>
</mat-form-field>
</mat-card>

</div>